li{
	padding: 1%;
}

ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

header nav ul{
	
	justify-content: flex-end;
}

footer nav ul{
	
	justify-content: flex-start;
	margin-left: -3%;
}

footer div{
	margin-left: 3%;
}