li{
	padding: 1%;
}

ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

header nav ul{
	
	justify-content: flex-end;
}

footer nav ul{
	
	justify-content: flex-start;
	margin-left: -30px;
}

footer div{
	margin-left: 28px;
}

.end_right{
	margin-left: 0!important;
	justify-content: flex-end!important;

}